* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.288);
}

/* Estilos para a logo */
.logo img{
  width: 100px;

}

/* Estilos para o campo de busca */
.search input {
  padding: 5px;
  width: 200px; /* Ajuste a largura do campo de busca conforme necessário */
}

/* Estilos para o botão de busca (opcional) */
.search button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #b803ff;
  color: #fff;
  border: none;
}

/* Estilos para os ícones de redes sociais */
.social-icons img {
  width: 30px;
}

